p {
    text-align: center;
    color: rgba(239, 232, 252, 0.507);
}
h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #6600FF;
    text-align: center;
}
#header:hover {
    text-align: left;
    color:rgb(1, 14, 2);
    transform: rotate(0.5turn);
}

.chanisClass {
    /* If the first listed font isn't available, the second will take its place, followed by the third if necessary */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: lighter;
}
